$primary-color-dark:   #0080C4;
$primary-color:        #00B5F3;
$primary-color-light:  #8B909E;
$primary-color-text:   #FFFFFF;
$accent-color:         #F9FAFA;
$primary-text-color:   #4A4A4A;
$secondary-text-color: #6B779B;
$divider-color:        #F2F2F2;
$header-color: #AAAAAA;
$primary-button-color: #77BF66;
$secondary-text-color2:  #9A9A9A;
$position-event-border: #B5BBCD;